<nav class="navigation">
  <!-- Desktop Navigation -->
  <ul class="desktop-menu">
    {%- for link in site.data.navigation.main -%}
      <li><a href="{{ link.url | relative_url }}" title="{{ link.description }}">{{ link.title }}</a></li>
    {%- endfor -%}
  </ul>

  <!-- Mobile Hamburger Menu -->
  <div id="menu-container">
    <!-- Hidden Checkbox for Toggling -->
    <input type="checkbox" id="checkbox" style="display: none;">

    <!-- Hamburger Icon -->
    <label for="checkbox" class="toggle">
      <div class="bars"></div>
      <div class="bars"></div>
      <div class="bars"></div>
    </label>

    <!-- Slide-in Mobile Navigation -->
    <div id="mobile-nav">
      <ul>
        {%- for link in site.data.navigation.main -%}
          <li><a href="{{ link.url | relative_url }}" title="{{ link.description }}">{{ link.title }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>
