body .masthead,
body .masthead__inner-wrap,
body .masthead .greedy-nav {
  background: #fff !important;
  background-color: #fff !important;
}

body .masthead {
  width: 100%;
  border-bottom: 0 !important;
  box-shadow: none !important;
}

html,
body,
.initial-content,
.layout--single,
.layout--home,
.layout--archive {
  background: #fff !important;
  background-color: #fff !important;
}
