<!doctype html>
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">

<head>
  <!-- Head content for metadata, page titles, and linked styles/scripts -->
  {% include head.html %}
  {% include head/custom.html %}
</head>

<!-- Link to additional stylesheets -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
<script src="{{ '/assets/js/burger.js' | relative_url }}"></script>



<body>
  <!-- Masthead: Top banner or header of the site -->
  {% include_cached masthead.html %}

  <!-- Main content of the page -->
  <div class="initial-content">
    {{ content }}
    {% include after-content.html %}
  </div>

  <!-- Footer section of the site -->
  <div id="footer" class="page__footer">
    <footer>
      {% include footer/custom.html %}
      {% include_cached footer.html %}
    </footer>
  </div>

  <!-- JavaScript for dynamic behavior -->
  <script src="{{ site.baseurl }}/assets/js/burger.js"></script>
</body>

</html>
